UnityPanelWidget,
.unity-panel {
    background-image: linear-gradient(to bottom, shade(@panel_bg_color, 1.5), shade(@panel_bg_color, 1.04));

    border-top-color: shade(@panel_bg_color, 1.6);
    border-style: solid;
    border-width: 1px 0 0 0;

    color: @panel_fg_color;
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 1px 1px 0 1px;

    }

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: linear-gradient(to bottom, shade(@theme_selected_bg_color, 1.7), shade(@theme_selected_bg_color, 1.12));

    color: shade(@theme_selected_fg_color, 1.1);
}
